<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    </head>
    <body>
      <div class="Wrapper">
        <div class="Navbar w-16 h-screen p-2 bg-white rounded-lg flex-col justify-between items-center gap-2.5 inline-flex left-0">
          <div class="NavLinksTop p-2 flex-col justify-center gap-8 flex">
            <div class="Logo p-2 bg-white rounded justify-center items-center inline-flex">
              <div class="Group1 w-4 h-5 relative">
                <img class="Union w-2.5 h-1.5 left-[5.59px] top-0 absolute" src="https://via.placeholder.com/9x6" />
                <div class="Rectangle3 w-3 h-3.5 left-[3.67px] top-[6.17px] absolute bg-emerald-700"></div>
                <div class="Rectangle2 w-3 h-3.5 left-[2.80px] top-[5.40px] absolute bg-emerald-500"></div>
              </div>
            </div>
            <div class="MenuIcon p-2 justify-start items-start gap-2.5 inline-flex">
              <div class="Icon w-6 h-6 relative rounded-3xl">
                <div class="Center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="Bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="NavLink p-2 rounded-lg justify-center items-center gap-2 inline-flex" id="home">
              <a href="/">
                <div class="Icon w-6 h-6 relative">
                  <div class="Center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="Bi bi-house-door" viewBox="0 0 16 16">
                      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
            <div class="NavLink p-2 rounded-lg justify-center items-center gap-2 inline-flex" id="car">
              <a href="/shoppingcar">
                <div class="Icon w-6 h-6 relative">
                  <div class="Center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="Bi bi-bag-heart" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
            <div class="NavLink p-2 rounded-lg justify-center items-center gap-2 inline-flex" id="car">
              <a href="/authen/login">
                <div class="Icon w-6 h-6 relative">
                  <div class="Center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="NavLinkBottom p-2 justify-start items-start gap-2.5 inline-flex">
            <div class="NavLink p-2 bg-red-600 rounded-lg justify-center items-center gap-2 flex">
              <a href="/authen/logout">
                <div class="Icon w-6 h-6 relative">
                  <div class="Center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <main class="main w-4/5">
            {{{body}}} <!-- This is where the content of each page will be inserted -->
        </main>
        {{#eq flag '0'}}
          {{> bag}}
        {{/eq}}
        {{#eq flag '1'}}
          {{> bag2}}
        {{/eq}}
        <script src="\js\main.js"></script>
      </div>
    </body>
</html>