<div class="ContentArea w-200 h-screen px-6 py-12 flex-col justify-start items-start gap-4 inline-flex">
  <div class="AddressCard w-full h-120 p-4 border border-black bg-white rounded-xl flex-col justify-start items-start gap-2 flex">
  <div class="Header p-2 justify-start items-start inline-flex">
    <div class="ShippingAddress text-stone-900 text-3xl font-normal font-['Cabin'] uppercase tracking-widest">Shipping Address</div>
  </div>
  <div class="Conent self-stretch justify-between items-start inline-flex">
    <div class="CurrentAddress p-2 flex-col justify-start items-start gap-2 inline-flex">
      <div class="Name w-96 h-24 p-2 flex-col justify-start items-start gap-2.5 inline-flex">
        <div class="Input self-stretch h-20 flex-col justify-center items-start gap-2 flex">
          <div class="Label px-2 justify-start items-center gap-2.5 inline-flex">
            <div class="Label text-stone-900 text-opacity-50 text-base font-normal font-['Cabin']">Shipping Name</div>
          </div>
          <input class="InputField self-stretch px-4 py-2 bg-white rounded-xl shadow justify-start items-center gap-2 inline-flex" type="text" placeholder="John Maker">
        </div>
      </div>
      <div class="Input w-full h-20 flex-col justify-center items-start gap-2 inline-flex">
        <div class="Label px-2 justify-start items-center gap-2.5 inline-flex">
          <div class="Label text-stone-900 text-opacity-50 text-base font-normal font-['Cabin']">Address</div>
        </div>
        <input class="InputField self-stretch px-4 py-2 bg-white rounded-xl shadow justify-start items-center gap-2 inline-flex" type="text" placeholder="123 Plae Grond Stret Vermont, California United States of America">
      </div>
      <div class="Input w-full h-20 flex-col justify-center items-start gap-2 inline-flex">
        <div class="Label px-2 justify-start items-center gap-2.5 inline-flex">
          <div class="Label text-stone-900 text-opacity-50 text-base font-normal font-['Cabin']">Phone number</div>
        </div>
        <input class="InputField self-stretch px-4 py-2 bg-white rounded-xl shadow justify-start items-center gap-2 inline-flex" type="text" placeholder="0979666659">
      </div>
    </div>
  </div>
  </div>
</div>

<script src="\js\index.js"></script>