
.Wrapper {
    background-color: #f2f2f2; /* 灰色背景颜色 */
    display: flex;
    justify-content: flex-start; /* 将内容靠最左边 */
    align-items: flex-start; /* 将内容靠最上边 */
    margin: 0; /* 移除默认的页面边距 */
    padding: 0; /* 移除默认的页面内边距 */
    height: 100vh;
    width: 100vw;
}
.BagArea {
    border-left: 4px solid rgb(156, 155, 155);
    padding-left: 10px; /* 添加一些左边距以与内容分隔开 */
}
.Navbar {
    transition: width 0.3s; /* 添加过渡效果 */
}
.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bi.bi-cart-plus path {
    fill: white; /* Set the fill color to white */
}
.NavLink {
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.NavLink:hover {
    background-color: gray; /* Set the background color to gray when hovered */
}
.Button {
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: gray; /* Set the background color to gray when hovered */
}

.ContentArea { /* 设置内容区域的最大高度为视窗高度的90% */
    overflow-y: auto; /* 如果内容溢出，启用垂直滚动条 */
    width: 100%;
}
.ContentFrame {
    margin: 0 auto; /* Center horizontally */
    /* Add other CSS rules as needed */
}
